In [1]:
#housekeeping and essential imports
import pandas as pd
import os
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:99% !important; }</style>"))
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1800)
pd.set_option ('display.max_colwidth', 150)
pd.set_option('display.max_columns', 50)

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: None#1px dotted lightgrey;
}

In [3]:
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn-dark-palette')
#plt.style.use('seaborn')

In [4]:
os.chdir("/gpfs/commons/groups/sanjana_lab/cdai/TFscreen/data/20190816")

In [9]:
samplesheet = pd.read_csv('20190815SampleSheet.csv', skiprows=17)

In [12]:
samplesheet.rename(columns={'index':'i7_index', 'index2':'i5_index'}, inplace=True)

In [131]:
samplesheet.head()

  Sample_ID Sample_Name I7_Index_ID  i7_index I5_Index_ID  i5_index Operator
0        S1          S1          R1  CTCTGGTA          F1  CTCTCTAT   Congyi
1        S2          S2          R2  TTCCATCC          F1  CTCTCTAT   Congyi
2        S3          S3          R3  GCCTCAAT          F1  CTCTCTAT   Congyi
3        S4          S4          R4  TCTATCCG          F1  CTCTCTAT   Congyi
4        S5          S5          R5  GTCTACCA          F1  CTCTCTAT   Congyi

In [18]:
i7 = samplesheet.i7_index.unique()
i5 = samplesheet.i5_index.unique()

**Evidence that i5 needs to use reverse sequence**

In [30]:
samplesheet[samplesheet.i5_index == 'AGAGGATA']

    Sample_ID Sample_Name I7_Index_ID  i7_index I5_Index_ID  i5_index Operator
40        X13         X13          R1  CTCTGGTA          F2  AGAGGATA   Congyi
41        X14         X14          R2  TTCCATCC          F2  AGAGGATA   Congyi
42        X15         X15          R3  GCCTCAAT          F2  AGAGGATA   Congyi
43        X16         X16          R4  TCTATCCG          F2  AGAGGATA   Congyi
44        X17         X17          R5  GTCTACCA          F2  AGAGGATA   Congyi
45        X18         X18          R6  AACCAGGT          F2  AGAGGATA   Congyi
46        X19         X19          R7  CAGAACTG          F2  AGAGGATA   Congyi
47        X20         X20          R8  ACGTTCGA          F2  AGAGGATA   Congyi
48        X21         X21          R9  AAGCAACG          F2  AGAGGATA   Congyi
49        X22         X22         R10  GAACGGTA          F2  AGAGGATA   Congyi
96        Z13         Z13          R1  TACCAGAG          F2  AGAGGATA   Congyi
97        Z14         Z14          R2  GGATGGAA          F2  AGAGGATA   Congyi
98        Z15         Z15          R3  ATTGAGGC          F2  AGAGGATA   Congyi
99        Z16         Z16          R4  CGGATAGA          F2  AGAGGATA   Congyi
100       Z17         Z17          R5  TGGTAGAC          F2  AGAGGATA   Congyi
101       Z18         Z18          R6  ACCTGGTT          F2  AGAGGATA   Congyi
102       Z19         Z19          R7  CAGTTCTG          F2  AGAGGATA   Congyi
103       Z20         Z20          R8  TCGAACGT          F2  AGAGGATA   Congyi
104       Z21         Z21          R9  CGTTGCTT          F2  AGAGGATA   Congyi
105       Z22         Z22         R10  TACCGTTC          F2  AGAGGATA   Congyi

**Evidence that i7 needs to use forward sequence**

In [57]:
samplesheet[samplesheet.i7_index == 'GCCTCAAT']

   Sample_ID Sample_Name I7_Index_ID  i7_index I5_Index_ID  i5_index Operator
2         S3          S3          R3  GCCTCAAT          F1  CTCTCTAT   Congyi
14       S15         S15          R3  GCCTCAAT          F2  TATCCTCT   Congyi
23       S24         S24          R3  GCCTCAAT          F3  GTAAGGAG     Chao
30        X3          X3          R3  GCCTCAAT          F1  ATAGAGAG   Congyi
42       X15         X15          R3  GCCTCAAT          F2  AGAGGATA   Congyi
51       X24         X24          R3  GCCTCAAT          F3  CTCCTTAC     Chao

In [63]:
x = '''GGGGGGGG+AGATCTCG
GGGGGGGG+ATAGAGAG
GGGGGGGG+GGGGGGGG
GGGGGGGG+AGAGGATA
ACGTTCTA+TTTGAGAG
GCCTCAAT+TGTGGATA
TTCCATCC+TGTGGATA
CTCTGGTA+TGTGGATA
ACGTTCTA+TGTGGATA
GTCTACCA+TTTGAGAG
GGGGGGGG+AGATCTCG
GGGGGGGG+ATAGAGAG
GGGGGGGG+GGGGGGGG
GGGGGGGG+AGAGGATA
ACGTTCTA+TTTGAGAG
AACCAGTT+TTTGAGAG
ACGTTCTA+TGTGGATA
GTCTACCA+TTTGAGAG
AACCAGTT+TGTGGATA
TTCCATCC+TGTGGATA
GGGGGGGG+AGATCTCG
GGGGGGGG+ATAGAGAG
GGGGGGGG+GGGGGGGG
GGGGGGGG+AGAGGATA
ACGTTCTA+TTTGAGAG
ACGTTCTA+TGTGGATA
TTCCATCC+TGTGGATA
AACCAGTT+TTTGAGAG
CAGAACTT+TGTGGATA
GCCTCAAT+TGTGGATA
GGGGGGGG+AGATCTCG
GGGGGGGG+ATAGAGAG
GGGGGGGG+AGAGGATA
ACGTTCTA+TTTGAGAG
GGGGGGGG+GGGGGGGG
ACGTTCTA+TGTGGATA
AACCAGTT+TTTGAGAG
AACCAGTT+TGTGGATA
AAGCAACT+TTTGAGAG
CAGAACTT+TGTGGATA'''.split(sep='\n')

In [67]:
y='''7342600
1644500
885280
778720
603440
599640
561360
550600
548220
532280
5155680
1956420
1016840
986040
775180
640900
615680
511800
498720
482580
7335580
1563580
1212960
731280
664120
605040
567480
545300
539720
539180
4623060
1466600
705700
676000
665180
608380
566100
491280
418900
400320'''.split('\n')

In [69]:
y=[int(i) for i in y]

In [71]:
top_unknown = pd.DataFrame({'i7_i5':x, 'reads':y})

In [73]:
top_unknown.head()

               i7_i5    reads
0  GGGGGGGG+AGATCTCG  7342600
1  GGGGGGGG+ATAGAGAG  1644500
2  GGGGGGGG+GGGGGGGG   885280
3  GGGGGGGG+AGAGGATA   778720
4  ACGTTCTA+TTTGAGAG   603440

In [77]:
top_unknown[['i7','i5']]=top_unknown.i7_i5.str.split('+',expand=True)

*`SPACE` key to move to forward, `SHIFT+SPACE` to move backward, `ESCAPE` to show all slides*

### Top undetermined reads: top 10 from each lane of 4 lanes.

Notice many barcodes are GGGGGGGG, these barcodes cannot be demultiplexed.

Some barcodes do look like actual barcode sequences. They are 1 or 2 mismatches from actual sequence. We should be able to recover these point mutated barcodes.

[Demultiplex summary](https://www.dropbox.com/s/4r5roj8rf9pwjjw/demultplux_summary.xlsx?dl=0)

In [85]:
top_unknown

                i7_i5    reads        i7        i5
0   GGGGGGGG+AGATCTCG  7342600  GGGGGGGG  AGATCTCG
1   GGGGGGGG+ATAGAGAG  1644500  GGGGGGGG  ATAGAGAG
2   GGGGGGGG+GGGGGGGG   885280  GGGGGGGG  GGGGGGGG
3   GGGGGGGG+AGAGGATA   778720  GGGGGGGG  AGAGGATA
4   ACGTTCTA+TTTGAGAG   603440  ACGTTCTA  TTTGAGAG
5   GCCTCAAT+TGTGGATA   599640  GCCTCAAT  TGTGGATA
6   TTCCATCC+TGTGGATA   561360  TTCCATCC  TGTGGATA
7   CTCTGGTA+TGTGGATA   550600  CTCTGGTA  TGTGGATA
8   ACGTTCTA+TGTGGATA   548220  ACGTTCTA  TGTGGATA
9   GTCTACCA+TTTGAGAG   532280  GTCTACCA  TTTGAGAG
10  GGGGGGGG+AGATCTCG  5155680  GGGGGGGG  AGATCTCG
11  GGGGGGGG+ATAGAGAG  1956420  GGGGGGGG  ATAGAGAG
12  GGGGGGGG+GGGGGGGG  1016840  GGGGGGGG  GGGGGGGG
13  GGGGGGGG+AGAGGATA   986040  GGGGGGGG  AGAGGATA
14  ACGTTCTA+TTTGAGAG   775180  ACGTTCTA  TTTGAGAG
15  AACCAGTT+TTTGAGAG   640900  AACCAGTT  TTTGAGAG
16  ACGTTCTA+TGTGGATA   615680  ACGTTCTA  TGTGGATA
17  GTCTACCA+TTTGAGAG   511800  GTCTACCA  TTTGAGAG
18  AACCAGTT+TGTGGATA   498720  AACCAGTT  TGTGGATA
19  TTCCATCC+TGTGGATA   482580  TTCCATCC  TGTGGATA
20  GGGGGGGG+AGATCTCG  7335580  GGGGGGGG  AGATCTCG
21  GGGGGGGG+ATAGAGAG  1563580  GGGGGGGG  ATAGAGAG
22  GGGGGGGG+GGGGGGGG  1212960  GGGGGGGG  GGGGGGGG
23  GGGGGGGG+AGAGGATA   731280  GGGGGGGG  AGAGGATA
24  ACGTTCTA+TTTGAGAG   664120  ACGTTCTA  TTTGAGAG
25  ACGTTCTA+TGTGGATA   605040  ACGTTCTA  TGTGGATA
26  TTCCATCC+TGTGGATA   567480  TTCCATCC  TGTGGATA
27  AACCAGTT+TTTGAGAG   545300  AACCAGTT  TTTGAGAG
28  CAGAACTT+TGTGGATA   539720  CAGAACTT  TGTGGATA
29  GCCTCAAT+TGTGGATA   539180  GCCTCAAT  TGTGGATA
30  GGGGGGGG+AGATCTCG  4623060  GGGGGGGG  AGATCTCG
31  GGGGGGGG+ATAGAGAG  1466600  GGGGGGGG  ATAGAGAG
32  GGGGGGGG+AGAGGATA   705700  GGGGGGGG  AGAGGATA
33  ACGTTCTA+TTTGAGAG   676000  ACGTTCTA  TTTGAGAG
34  GGGGGGGG+GGGGGGGG   665180  GGGGGGGG  GGGGGGGG
35  ACGTTCTA+TGTGGATA   608380  ACGTTCTA  TGTGGATA
36  AACCAGTT+TTTGAGAG   566100  AACCAGTT  TTTGAGAG
37  AACCAGTT+TGTGGATA   491280  AACCAGTT  TGTGGATA
38  AAGCAACT+TTTGAGAG   418900  AAGCAACT  TTTGAGAG
39  CAGAACTT+TGTGGATA   400320  CAGAACTT  TGTGGATA

### Correct i7 barcode sequence. 

Note the correct i7 barcode sequence is the **reverse complement** of the oligo sequence we ordered.

In [116]:
i7[0:12]

array(['CTCTGGTA', 'TTCCATCC', 'GCCTCAAT', 'TCTATCCG', 'GTCTACCA',
       'AACCAGGT', 'CAGAACTG', 'ACGTTCGA', 'AAGCAACG', 'GAACGGTA',
       'GCAACCTA', 'TTAGCCTC'], dtype=object)

### Correct i5 barcode sequence

Note the correct i5 barcode sequence is the **reverse complement** of the oligo sequence we ordered.

By correcting barcode sequence, we demultiplexed 49% of all R1.

In [118]:
i5[3:6]

array(['ATAGAGAG', 'AGAGGATA', 'CTCCTTAC'], dtype=object)

In [87]:
top_unknown[top_unknown.i7.isin(i7)]

                i7_i5   reads        i7        i5
5   GCCTCAAT+TGTGGATA  599640  GCCTCAAT  TGTGGATA
6   TTCCATCC+TGTGGATA  561360  TTCCATCC  TGTGGATA
7   CTCTGGTA+TGTGGATA  550600  CTCTGGTA  TGTGGATA
9   GTCTACCA+TTTGAGAG  532280  GTCTACCA  TTTGAGAG
17  GTCTACCA+TTTGAGAG  511800  GTCTACCA  TTTGAGAG
19  TTCCATCC+TGTGGATA  482580  TTCCATCC  TGTGGATA
26  TTCCATCC+TGTGGATA  567480  TTCCATCC  TGTGGATA
29  GCCTCAAT+TGTGGATA  539180  GCCTCAAT  TGTGGATA

In [95]:
samplesheet[samplesheet.i7_index == 'GCCTCAAT']

   Sample_ID Sample_Name I7_Index_ID  i7_index I5_Index_ID  i5_index Operator
2         S3          S3          R3  GCCTCAAT          F1  CTCTCTAT   Congyi
14       S15         S15          R3  GCCTCAAT          F2  TATCCTCT   Congyi
23       S24         S24          R3  GCCTCAAT          F3  GTAAGGAG     Chao
30        X3          X3          R3  GCCTCAAT          F1  ATAGAGAG   Congyi
42       X15         X15          R3  GCCTCAAT          F2  AGAGGATA   Congyi
51       X24         X24          R3  GCCTCAAT          F3  CTCCTTAC     Chao

In [96]:
top_unknown[top_unknown.i5.isin(i5)]

                i7_i5    reads        i7        i5
1   GGGGGGGG+ATAGAGAG  1644500  GGGGGGGG  ATAGAGAG
3   GGGGGGGG+AGAGGATA   778720  GGGGGGGG  AGAGGATA
11  GGGGGGGG+ATAGAGAG  1956420  GGGGGGGG  ATAGAGAG
13  GGGGGGGG+AGAGGATA   986040  GGGGGGGG  AGAGGATA
21  GGGGGGGG+ATAGAGAG  1563580  GGGGGGGG  ATAGAGAG
23  GGGGGGGG+AGAGGATA   731280  GGGGGGGG  AGAGGATA
31  GGGGGGGG+ATAGAGAG  1466600  GGGGGGGG  ATAGAGAG
32  GGGGGGGG+AGAGGATA   705700  GGGGGGGG  AGAGGATA

In [98]:
samplesheet[samplesheet.i5_index == 'AGAGGATA']

    Sample_ID Sample_Name I7_Index_ID  i7_index I5_Index_ID  i5_index Operator
40        X13         X13          R1  CTCTGGTA          F2  AGAGGATA   Congyi
41        X14         X14          R2  TTCCATCC          F2  AGAGGATA   Congyi
42        X15         X15          R3  GCCTCAAT          F2  AGAGGATA   Congyi
43        X16         X16          R4  TCTATCCG          F2  AGAGGATA   Congyi
44        X17         X17          R5  GTCTACCA          F2  AGAGGATA   Congyi
45        X18         X18          R6  AACCAGGT          F2  AGAGGATA   Congyi
46        X19         X19          R7  CAGAACTG          F2  AGAGGATA   Congyi
47        X20         X20          R8  ACGTTCGA          F2  AGAGGATA   Congyi
48        X21         X21          R9  AAGCAACG          F2  AGAGGATA   Congyi
49        X22         X22         R10  GAACGGTA          F2  AGAGGATA   Congyi
96        Z13         Z13          R1  TACCAGAG          F2  AGAGGATA   Congyi
97        Z14         Z14          R2  GGATGGAA          F2  AGAGGATA   Congyi
98        Z15         Z15          R3  ATTGAGGC          F2  AGAGGATA   Congyi
99        Z16         Z16          R4  CGGATAGA          F2  AGAGGATA   Congyi
100       Z17         Z17          R5  TGGTAGAC          F2  AGAGGATA   Congyi
101       Z18         Z18          R6  ACCTGGTT          F2  AGAGGATA   Congyi
102       Z19         Z19          R7  CAGTTCTG          F2  AGAGGATA   Congyi
103       Z20         Z20          R8  TCGAACGT          F2  AGAGGATA   Congyi
104       Z21         Z21          R9  CGTTGCTT          F2  AGAGGATA   Congyi
105       Z22         Z22         R10  TACCGTTC          F2  AGAGGATA   Congyi

In [100]:
top_unknown[(top_unknown.i5.isin(i5)) | (top_unknown.i7.isin(i7))]

                i7_i5    reads        i7        i5
1   GGGGGGGG+ATAGAGAG  1644500  GGGGGGGG  ATAGAGAG
3   GGGGGGGG+AGAGGATA   778720  GGGGGGGG  AGAGGATA
5   GCCTCAAT+TGTGGATA   599640  GCCTCAAT  TGTGGATA
6   TTCCATCC+TGTGGATA   561360  TTCCATCC  TGTGGATA
7   CTCTGGTA+TGTGGATA   550600  CTCTGGTA  TGTGGATA
9   GTCTACCA+TTTGAGAG   532280  GTCTACCA  TTTGAGAG
11  GGGGGGGG+ATAGAGAG  1956420  GGGGGGGG  ATAGAGAG
13  GGGGGGGG+AGAGGATA   986040  GGGGGGGG  AGAGGATA
17  GTCTACCA+TTTGAGAG   511800  GTCTACCA  TTTGAGAG
19  TTCCATCC+TGTGGATA   482580  TTCCATCC  TGTGGATA
21  GGGGGGGG+ATAGAGAG  1563580  GGGGGGGG  ATAGAGAG
23  GGGGGGGG+AGAGGATA   731280  GGGGGGGG  AGAGGATA
26  TTCCATCC+TGTGGATA   567480  TTCCATCC  TGTGGATA
29  GCCTCAAT+TGTGGATA   539180  GCCTCAAT  TGTGGATA
31  GGGGGGGG+ATAGAGAG  1466600  GGGGGGGG  ATAGAGAG
32  GGGGGGGG+AGAGGATA   705700  GGGGGGGG  AGAGGATA

In [101]:
top_unknown[(~top_unknown.i5.isin(i5)) & (~top_unknown.i7.isin(i7))]

                i7_i5    reads        i7        i5
0   GGGGGGGG+AGATCTCG  7342600  GGGGGGGG  AGATCTCG
2   GGGGGGGG+GGGGGGGG   885280  GGGGGGGG  GGGGGGGG
4   ACGTTCTA+TTTGAGAG   603440  ACGTTCTA  TTTGAGAG
8   ACGTTCTA+TGTGGATA   548220  ACGTTCTA  TGTGGATA
10  GGGGGGGG+AGATCTCG  5155680  GGGGGGGG  AGATCTCG
12  GGGGGGGG+GGGGGGGG  1016840  GGGGGGGG  GGGGGGGG
14  ACGTTCTA+TTTGAGAG   775180  ACGTTCTA  TTTGAGAG
15  AACCAGTT+TTTGAGAG   640900  AACCAGTT  TTTGAGAG
16  ACGTTCTA+TGTGGATA   615680  ACGTTCTA  TGTGGATA
18  AACCAGTT+TGTGGATA   498720  AACCAGTT  TGTGGATA
20  GGGGGGGG+AGATCTCG  7335580  GGGGGGGG  AGATCTCG
22  GGGGGGGG+GGGGGGGG  1212960  GGGGGGGG  GGGGGGGG
24  ACGTTCTA+TTTGAGAG   664120  ACGTTCTA  TTTGAGAG
25  ACGTTCTA+TGTGGATA   605040  ACGTTCTA  TGTGGATA
27  AACCAGTT+TTTGAGAG   545300  AACCAGTT  TTTGAGAG
28  CAGAACTT+TGTGGATA   539720  CAGAACTT  TGTGGATA
30  GGGGGGGG+AGATCTCG  4623060  GGGGGGGG  AGATCTCG
33  ACGTTCTA+TTTGAGAG   676000  ACGTTCTA  TTTGAGAG
34  GGGGGGGG+GGGGGGGG   665180  GGGGGGGG  GGGGGGGG
35  ACGTTCTA+TGTGGATA   608380  ACGTTCTA  TGTGGATA
36  AACCAGTT+TTTGAGAG   566100  AACCAGTT  TTTGAGAG
37  AACCAGTT+TGTGGATA   491280  AACCAGTT  TGTGGATA
38  AAGCAACT+TTTGAGAG   418900  AAGCAACT  TTTGAGAG
39  CAGAACTT+TGTGGATA   400320  CAGAACTT  TGTGGATA

# Subsequent analysis are all based on the Top 10 undetermined barcodes from each lane

### Some i5 bar codes have mutations, causing demultiplexing failure.

**2 bp mutations seem to occur with i5 bar codes** 
- `TTTGAGAG` might be `ATAGAGAG` with 2 mutations
- `TGTGGATA` might be `AGAGGATA` with 2 mutations

In [119]:
# undetermined i5 sequence
top_unknown[(~top_unknown.i5.isin(i5)) & (~top_unknown.i7.isin(i7))]['i5'].unique()

array(['AGATCTCG', 'GGGGGGGG', 'TTTGAGAG', 'TGTGGATA'], dtype=object)

In [106]:
# Actual i5 sequence
i5[3:6]

array(['ATAGAGAG', 'AGAGGATA', 'CTCCTTAC'], dtype=object)

### Some i7 barcodes have mutations. This also causes demultiplexing failure.

- `ACGTTCTA` might be `ACGTTCGA` with 1 mutation
- `AACCAGTT` might be `AACCAGGT` with 1 mutation
- `AAGCAACT` might be `AAGCAACG` with 1 mutation
- `CAGAACTT` might be `CAGAACTG` with 1 mutation

In [120]:
# undetermined i7 sequence
top_unknown[(~top_unknown.i5.isin(i5)) & (~top_unknown.i7.isin(i7))]['i7'].unique()

array(['GGGGGGGG', 'ACGTTCTA', 'AACCAGTT', 'CAGAACTT', 'AAGCAACT'],
      dtype=object)

In [110]:
# Actual i7 sequence
i7[0:12]

array(['CTCTGGTA', 'TTCCATCC', 'GCCTCAAT', 'TCTATCCG', 'GTCTACCA',
       'AACCAGGT', 'CAGAACTG', 'ACGTTCGA', 'AAGCAACG', 'GAACGGTA',
       'GCAACCTA', 'TTAGCCTC'], dtype=object)

### Among top 10 undetermined reads in each lane (Lane 1 ~ Lane 4), these reads (`9 million`) could be recovered and demultiplexed by manually (custom script) matching them to actual barcodes.

- We may be able to recover more reads usig the same strategy buy applying to the entire undetermined dataset
- But what are those `GGGGGGGG` barcodes? Why are they there? We would lose any reads with such barcode sequence

In [122]:
top_unknown[(top_unknown.i7.isin(['ACGTTCTA','AACCAGTT','AAGCAACT','CAGAACTT'])) & 
            (top_unknown.i5.isin(['TTTGAGAG','TGTGGATA']))].reads.sum()
top_unknown[(top_unknown.i7.isin(['ACGTTCTA','AACCAGTT','AAGCAACT','CAGAACTT'])) & 
            (top_unknown.i5.isin(['TTTGAGAG','TGTGGATA']))]

9197300

                i7_i5   reads        i7        i5
4   ACGTTCTA+TTTGAGAG  603440  ACGTTCTA  TTTGAGAG
8   ACGTTCTA+TGTGGATA  548220  ACGTTCTA  TGTGGATA
14  ACGTTCTA+TTTGAGAG  775180  ACGTTCTA  TTTGAGAG
15  AACCAGTT+TTTGAGAG  640900  AACCAGTT  TTTGAGAG
16  ACGTTCTA+TGTGGATA  615680  ACGTTCTA  TGTGGATA
18  AACCAGTT+TGTGGATA  498720  AACCAGTT  TGTGGATA
24  ACGTTCTA+TTTGAGAG  664120  ACGTTCTA  TTTGAGAG
25  ACGTTCTA+TGTGGATA  605040  ACGTTCTA  TGTGGATA
27  AACCAGTT+TTTGAGAG  545300  AACCAGTT  TTTGAGAG
28  CAGAACTT+TGTGGATA  539720  CAGAACTT  TGTGGATA
33  ACGTTCTA+TTTGAGAG  676000  ACGTTCTA  TTTGAGAG
35  ACGTTCTA+TGTGGATA  608380  ACGTTCTA  TGTGGATA
36  AACCAGTT+TTTGAGAG  566100  AACCAGTT  TTTGAGAG
37  AACCAGTT+TGTGGATA  491280  AACCAGTT  TGTGGATA
38  AAGCAACT+TTTGAGAG  418900  AAGCAACT  TTTGAGAG
39  CAGAACTT+TGTGGATA  400320  CAGAACTT  TGTGGATA

In [140]:
!jupyter nbconvert --to slides /gpfs/commons/home/cdai/notebooks/TFscreen_demultiplex.ipynb

[NbConvertApp] Converting notebook /gpfs/commons/home/cdai/notebooks/TFscreen_demultiplex.ipynb to slides
[NbConvertApp] Writing 302495 bytes to /gpfs/commons/home/cdai/notebooks/TFscreen_demultiplex.slides.html